
/*main*/

header {
    background-color: #0f0f0f42;
    outline: auto;
    outline-color: white;
}

body {
    background-color: #0f0f0f;
}


footer {
    outline: auto;
    outline-color: white;

/*navbar*/

}

ul {
    color: cyan;
}

/*paragraphs*/

p {
    color: white;
}