*{
    padding: 10px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

div{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 0.5s;
    border-radius: 20%;
    box-shadow: 10px;

}


.div1:hover{
    transform: translate(50px);
    rotate: 180deg;
    scale: 1.3;
    transition: 0.7s;
}

.div2:hover{
    rotate: 720deg;
    
}


.div3:hover{
    scale: 2;
}

.div3:active{
    scale: 1.5;
    transition: 0.1s;
}